@model COES.MVC.Extranet.Models.GeneracionRERModel

<div class="scroll-popup">
    <ul>
        @foreach (var item in Model.Validaciones)
        {
            <li>@item</li>
        }
    </ul>

</div>