@model COES.Dominio.DTO.Transferencias.TipoContratoDTO
@{
    ViewBag.Title = "Transferencias - Editar un tipo de contrato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Editar la informacion del Tipo Contrato" }, { "sAccion", "Actualizar" } })
</div>