@{
    ViewBag.Title = "Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-title">
    <div class="content-titulo">Registro de Eventos</div>
    <div class="content-botonera">
        <input type="button" id="btnGrabar" value="Grabar" />
        <input type="button" id="btnCancelar" value="Cancelar" />
    </div>
</div>

<div class="content-hijo">

    Estimado: Agente XXXXX

    <br />
    <br />

    Por favor elaborar los informes correspondientes al Evento xxxx
    <br />
    Los plazos para la elaboración de dichos informes son los siguientes:

    <br />
    <br />
    Informe Preliminar: 31/10/2014 05:45
    <br />
    Informe Final: 31/10/2014 07:45
    <br />
    Informe Complementario: A partir de 31/10/2014 08:45

    <br />
    <br />
    Por favor hacer <a href="#">clic aquí</a> para ir a la Extranet del COES para redactar los informes.

    <br />
    <br />
    <strong>Saludos cordiales</strong>
    <br />
    <strong>COES -SINAC</strong>

</div>
