@model COES.MVC.Intranet.Areas.Equipamiento.Models.AreaModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/Equipamiento/Content/Css/cupertino/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Areas/Equipamiento/Content/Css/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Areas/Equipamiento/Content/Css/css.css" rel="stylesheet" />

<script src="~/Areas/Equipamiento/Content/Scripts/jquery.jqGrid.min.js"></script>
<script src="~/Areas/Equipamiento/Content/Scripts/grid.locale-es.js"></script>
<script src="~/Areas/Equipamiento/Content/Scripts/area.js"></script>


<div class="form-title">
    <div class="content-titulo">Áreas</div>
    <div class="content-botonera">
        <input type="button" id="btnBuscar" value="Buscar" />

    </div>
</div>
<div class="content-hijo" id="mainLayout">
    @using (Html.BeginForm("Index", "Area", FormMethod.Post, new { @class = "form-search", name = "frmBusqueda", id = "frmBusqueda" }))
    {
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Tipo de área:</td>
                <td>
                    <select id="cbTipoArea" name="idTipoArea">
                        @foreach (var item in Model.ListaTipoArea)
                        {
                            <option value="@item.Tareacodi">@item.Tareanomb</option>
                        }
                    </select>
                </td>

                <td>Nombre de área:</td>
                <td>
                <td><input type="text" id="NombreArea" name="NombreArea" value="@Model.NombreArea" style="width:120px" /></td>
                </td>
            </tr>
        </table>
        <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />
    <div style="clear:both; height:30px"></div>
        <div class="content-tabla">
            @*<div class="tabla-header">
                <div class="table-paginado" id="paginado"></div>
            </div>
            <div class="table-list" id="listado"></div>*@
            <table id="list" class="scroll" cellpadding="0" cellspacing="0"></table>
            <div id="pager" class="scroll"></div>
        </div>
        @Html.HiddenFor(model => model.idTipoArea)
    }
    

    
</div>
