@{
    ViewBag.Title = "Transferencias - Lista de retiros sin contrato";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
}
@{
    var BARRCODI2 = (IEnumerable<SelectListItem>)TempData["BARRCODI2"];
    var EMPRCODI2 = (IEnumerable<SelectListItem>)TempData["EMPRCODI2"];
}
<link href="~/Areas/Transferencias/Content/Css/Transferencia.css" rel="stylesheet" />
<script src="~/Areas/Transferencias/Content/Scripts/codigoretirosincontrato.js"></script>
<script>
    $(document).ready(function () {
        setTimeout(function ()
        { $(".mensajes").fadeOut(800).fadeIn(800).fadeOut(500).fadeIn(500).fadeOut(300); }, 3000);
    }
    );
</script>
<div class="ast">
    @if (@sMensajeExito != null)
    {<div class="exito mensajes">@sMensajeExito</div>}
    <div class="form-title">
        <div class="content-titulo">Búsqueda de Codigo Retiro Sin Contrato</div>
        <div class="content-botonera"></div>
    </div>
    <div class="content-hijo" style="padding-top:8px">
        <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
            <table border="1" cellpadding="5" cellspacing="2">
                <tr class="THCabecera">
                    <td colspan="4"><div class="editor-label" style="color:#FFFFFF;"><b>Filtros de búsqueda</b></div></td>
                </tr>
                <tr>
                    <td><div class="editor-label">Barra de transferencia</div></td>
                    <td><div class="editor-field">@Html.DropDownList("BARRCODI", @BARRCODI2, "--Seleccione--")</div></td>
                    <td><div class="editor-label">Fecha de inicio</div></td>
                    <td><div class="editor-field"><input type="text" id="txtfechaIni" class="txtFecha" /></div></td>
                </tr>
                <tr>
                    <td><div class="editor-label">Cliente</div></td>
                    <td><div class="editor-field">@Html.DropDownList("EMPRCODI", @EMPRCODI2, "--Seleccione--")</div></td>
                    <td><div class="editor-label">Fecha final</div></td>
                    <td><div class="editor-field"><input type="text" id="txtfechaFin" class="txtFecha" /></div></td>
                </tr>
                <tr>
                    <td><div class="editor-label">Estado</div></td>
                    <td>
                        <div class="editor-field">
                            <input type="radio" id="Activo" name="Codientrestado" value="ACT" />Activo
                            <input type="radio" id="Inactivo" name="Codientrestado" value="INA" />Inactivo
                        </div>
                    </td>
                    <td colspan="2">
                        <div class="busqueda-item">
                            <input type="button" value="Limpiar" onclick="location.href='@Url.Action("Index","codigoentrega")'" alt="Limpiar" title="Limpiar" />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="button" id="btnGenerarExcel" value="Generar excel" />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="button" id="btnBuscar" value="Filtrar" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="listado" id="listado"></div>
    </div>
</div>