@model COES.Dominio.DTO.Transferencias.TipoUsuarioDTO
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Ingresar nuevo Tipo Usuario" }, { "sAccion", "Insertar" } })
</div>