@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/Areas/ServicioRPF/Content/Scripts/alternativo.js"></script>
    <link href="~/Areas/ServicioRPF/Content/Css/alternativo.css" rel="stylesheet" />
    <script src="~/Content/Scripts/jquery.easytabs.min.js"></script>

    <link href="~/Content/Css/tabs.css" rel="stylesheet" />
}

<div class="form-title">
    <div class="content-titulo">Análisis en Estado Normal</div>
    <div class="content-botonera">
    </div>
</div>

