@model COES.MVC.Intranet.Areas.Transferencias.Models.InfoDesbalanceModel
@Html.AntiForgeryToken()
<table border="0" class="pretty" id="tabla">
    <thead>
        <tr>
            <th>NombreBarra</th>
            <th>Energia Desbalance</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaInfodesbalance)
        {
            <tr>

                <td>@item.BARRNOMBRE</td>
                <td>@item.TOTAL</td>




            </tr>
        }
    </tbody>

</table>
<div id="popup">    </div>
