@model COES.MVC.Intranet.Areas.ServicioRPF.Models.ServicioModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/ServicioRPF/Content/Scripts/frecuencia.js"></script>

<div class="form-title">
    <div class="content-titulo">Frecuencias</div>
    <div class="content-botonera">
        <input type="button" id="btnReemplazar" value="Completar datos" />
    </div>
</div>

<div class="content-hijo">

    <table class="content-tabla-search" style="width:auto">
        <tr>           
            <td>Fecha:</td>
            <td><input type="text" id="txtFecha" name="FechaConsulta" value="@Model.FechaConsulta" style="width:120px" /></td>
            <td><input type="button" id="btnConsultar" value="Consultar" /></td>
        </tr>
    </table>
    <div style="clear:both; height:30px;"></div>
    <div id="listado"></div>

</div>

