@{
    ViewBag.Title = ".::Intranet SGOCOES COES::.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-title">Intranet SGOCOES</div>
<div class="home-content">
    <div class="home-img">
        <img src="~/Content/Images/coes.gif" alt="COES SINAC" style="width:300px" />
    </div>
    <div class="home-txt" style="min-height:250px">
        Binvenidos a la Intranet SGOCOES
    </div>
</div>