.tabs {
	display: inline-block;
	margin: 20px 0;
    /*margin: 20px 0 0;*/
    padding: 0;
}
.tabs li {
    background: url("/Site Collection Images/Dashboard/tabs.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 60px;
    list-style: none outside none;
    width: 200px;
}

.tabs li:hover {
    background: url("/Site Collection Images/Dashboard/tabs.png") no-repeat scroll 0 -60px rgba(0, 0, 0, 0);
}

.tabs li a {
    display: block;
    padding: 20px 0;
    text-align: center;
	text-decoration:none !important;
	color:#fff !important;
	font-size: 16px !important;
}

.tabsContent.tab-1 { 
    position: relative; 
    z-index: 10;
}

.tabsContent.tab-2 {
    position: relative;
    right: 2.3%;
    z-index: 9;
}
.tabsContent.tab-3 {
    position: relative;
    right: 4.5%;
    z-index: 8;
}
.tabsContent.tab-4 {
    position: relative;
    right: 6.5%;
    z-index: 7;
}


.ng-scope td{
	cursor: pointer !important;
}
.active{
	background-position:0 -120px !important;
}

